<div class="cardcontainer">
  <div class="cards" style="cursor: pointer;" [routerLink]="[index]" routerLinkActive="active">
    <div class="front-card">
      <div class="frontcard-img">
      </div>
      <div class="acc-front">
        <div class="acc-front-div">id: {{index+1}}</div>
        <div class="acc-front-div">Account Number: {{ accInfo.accNumber}}</div>
        <div class="acc-front-div">Nickname: {{ accInfo.nickName }}</div>
      </div>
    </div>

    <div class="back-card">
      <div class="backcard-img"></div>
      <div class="acc-back">
        <div class="acc-back-div">Account Balance: {{accInfo.accBalance}} {{accInfo.balanceCurrency}}</div>
      </div>
      <div><button (click)="onEditInfo()" class="edit-acc">Edit</button></div>

      <div><button class="delete-acc" (click)="onDeleteAccount()">Delete</button></div>

      <div>
        send <input type="number" id="amount" name="amount" [(ngModel)]="amount" />
        <select id="currency" required [(ngModel)]="currency1" name="currency1">
          <option selected>USD</option>
          <option>EUR</option>
          <option>JOD</option>
          <option>GBP</option>
          <option>CAD</option>
        </select>
        to
        <select id="selectedID">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <button (click)="onTrans()">Make Transaction</button>
      </div>
    </div>
  </div>
</div>