<!-- <app-acc-edit></app-acc-edit> -->

<carousel>
    <slide>
        <img src="http://wowslider.com/sliders/demo-42/data1/images/lighthouse.jpg" alt="first slide"
            style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="http://wowslider.com/sliders/demo-37/data1/images/waterandmountains.jpg" alt="second slide"
            style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="http://wowslider.com/sliders/demo-37/data1/images/jungle.jpg" alt="third slide"
            style="display: block; width: 100%;">
    </slide>
</carousel>