.weather {
    background-color: #F0F0F0;
    width: 75%;
    padding: 20px;
    border: 1px solid #CCC;
    // margin: 0;
    // position: absolute;
    // top: 100%;
    // left: 50%;
    transform: translate(-50%, -50%);
}

.weather-table {
    width: 100%;
    text-align: center;
}

.p-Time {
    font-size: 10px;
}