<div class="weather">
  <p *ngIf="weather.length == 0">Searching...</p>
  <div *ngIf="weather.length > 0">
    <table class="weather-table">
      <thead></thead>
      <tbody>
        <tr>
          <td *ngFor="let forecast of weather;let i = index;">
            <h5>{{forecast.weekday}}</h5>
            <img [src]="forecast.iconLink" />
            <p>{{ forecast.highTemperature }}C</p>
            <p class="p-Time">{{ forecast.utcTime| date }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>