.edit {
    margin: 0 15%;
    width: 70%;
    height: 30%;
    margin-right: 30%;
    border: solid 5px pink;
    text-align: center;
    box-shadow: 10px 10px 50px #aaaaaa;
}

.new {
    width: 20%;
    margin: 20px 37%;
    border-radius: 10px;
    background: green;
    border: solid 2px rgb(184, 169, 172);
    box-shadow: 10px 5px 5px #aaaaaa;


    font: {
        size: 30px;
        weight: bold;
    }
}