$borderColor: rgb(184, 169, 172);

.form-control {
    width: 50%;
    margin: 8px 50px;
    border-radius: 10px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: solid 5px rgb(184, 169, 172);
    background: $borderColor;
    color: black;

    font: {
        size: 20px;
    }
}

@mixin form-btn($backgroundColor) {
    width: 20%;
    margin: 8px 50px;
    border-radius: 10px;
    background: $backgroundColor;
    border: solid 2px $borderColor;

    font: {
        size: 30px;
        weight: bold;
    }
}

.save-form {
    @include form-btn(green)
}

.cancel-form {
    @include form-btn(red)
}

.has-error input[type="text"],
.has-error input[type="password"] {
    border-color: rgb(216, 12, 12);
    color: rgb(230, 14, 14);
    font-family: 'Courier New', Courier, monospace;
}