$borderColor: rgb(184, 169, 172);

.form-control {
    width: 50%;
    margin: 8px 50px;
    border-radius: 10px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: solid 5px rgb(184, 169, 172);
    background: $borderColor;

    font: {
        size: 20px;
    }
}

.save-form {
    width: 20%;
    margin: 8px 50px;
    border-radius: 10px;
    background: green;
    border: solid 2px $borderColor;

    font: {
        size: 30px;
        weight: bold;
    }
}

.cancel-form {
    width: 20%;
    margin: 8px 50px;
    border-radius: 10px;
    background: red;
    border: solid 2px $borderColor;

    font: {
        size: 30px;
        weight: bold;
    }
}