<app-nav></app-nav>


<div class="container">
    <div class="carousel">
        <carousel>
            <slide>
                <img src="http://wowslider.com/sliders/demo-42/data1/images/lighthouse.jpg" alt="first slide"
                    style="display: block; width: 100%;">
            </slide>
            <slide>
                <img src="http://wowslider.com/sliders/demo-37/data1/images/waterandmountains.jpg" alt="second slide"
                    style="display: block; width: 100%;">
            </slide>
            <slide>
                <img src="http://wowslider.com/sliders/demo-37/data1/images/jungle.jpg" alt="third slide"
                    style="display: block; width: 100%;">
            </slide>

            <!-- <slide>
                <video controls autoplay>
                    <source src="./carousel.mp4" type="video/mp4" style="display: block; width: 100%;">
                    Your browser does not support the video tag.
                </video>
            </slide> -->
        </carousel>
    </div>
    <div class="paragraph">
        <p class="img-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus optio impedit quam
            aspernatur tempora
            iure fuga corporis sunt ad at maxime numquam veniam culpa accusamus laborum, et accusantium quas eveniet.
        </p>
    </div>


    <div>
        <app-weather></app-weather>
    </div>

</div>