<app-nav></app-nav>
<div class="container">
    <div class="carousel">

    </div>
    <div class="paragraph">
        <p class="img-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus optio impedit quam
            aspernatur tempora
            iure fuga corporis sunt ad at maxime numquam veniam culpa accusamus laborum, et accusantium quas eveniet.
        </p>
    </div>


    <div class="weather">
        <div>{{city}}</div>
        <div>{{weather}}</div>
        <div>{{temp}}</div>
    </div>
</div>